* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mooli', sans-serif;
}

body {
  color: white;
  background-color: rgb(160, 154, 154);
}

.header {
  background-color: #B31810; 
  padding: 40px 0;

}

.header a {
  text-decoration: none;
  color: #ada8a8; 
}

.header ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

header ul li {
  margin: 0 30px; 
}

.hero {
  text-align: center;
  padding: 50px 20px;
}

.hero-image {
  display: flex;
  align-items: center;
  
  width: 250px;
  border-radius: 10px;
}

.sobre {
  padding: 40px 20px;
  text-align: start;
  max-width: 600px;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.card {
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.card img {
  width: 150px;
  height: 200px;
  max-width: 100%;
  border-radius: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.card-row {
  display: flex;
  justify-content: center; 
  margin-bottom: 20px; 
}

.card {
  width: 30%; 
  margin: 0 10px; 
}

.second-row .card {
  width: 40%;
}


.card:hover {
  transform: scale(1.05);
  color: #B31810; 
}

.portfolio-item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  text-align: center;
}

footer {
  background-color: #B31810; 
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  
}

footer a {
  text-decoration: none;
  color: #ada8a8; 
}

footer a:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  .card-row {
    flex-direction: column;
    align-items: center;
  }
}

